body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fdf6e3;
  color: #333;
  margin: 0;
  padding: 20px;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}
  
  .container {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #d46a6a;
  }
  
  .photos img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input, select, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #d46a6a;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c25959;
  }
  